<div class="page">
    <!-- <h1>This page is under Development!!</h1> -->
    <h5>
        You can contact me by following.
    </h5>
    <br>
    <h4>
        <ul>
            <li><a href="linkedin.com/in/ninad-arakh-277747237">Linkedin </a></li>
            <li><a href="https://x.com/developer_Ninad?t=Dx5Ov2acFqKll7_BHOw1XQ&s=08">Twitter</a></li>
            <li><a href="https://mail.google.com/mail/u/3/#inbox?compose=DmwnWrRspxcDmgFRJXpzqmNpNhlRtMmhFSCctrTcxbWCVWfwbQWnlqtRfnqcTnbTvBjSVXxTbQwB">Gmail</a></li>
            <li><a href="https://www.instagram.com/ninad_arakh.exe/">Instagram</a></li>
            <li><a href="https://www.instagram.com/ninad__arakh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
        </ul>
    </h4>

</div>