<div class="page">
    <!-- <h1>This page is under Development!!</h1> -->
    <h5>
        This app is build in Angular 17. As a fun project, The main purpose of the application is to learn new things in a fun way.
    </h5>
    <br>
    <h5>
            The technologies used in this project are mentioned below.
    </h5>
    <ul>
        <li>Angular 17</li>
        <li>TypeScript</li>
        <li>HTML </li>
        <li>Css</li>
        <li>Java</li>
        <li>Spring Boot</li>


    </ul>
    <br>
    <h5>
        Front-end is build in Angular. And Back-end is build in spring boot for API.
        There is no Database is used. So all the data is hard coded. Because it only uses "get"   request to get the data from server side.
    </h5>
    <br>
    <h5>
        I used render.com to host the spring boot api. But it was free so the response was very slow to get the data and i only need to get the json so i push the saperate json files on github and it was way faster than render. You can check that out by clicking on following links.
    </h5>
    <br>
    <a href="https://github.com/Ninad-arakh/zomato-json">Link to github Repository JSON response</a>
    <br>
    <a href="https://array-api.onrender.com/get/categories">Link to render.com/ API </a>

</div>