<div class="page">
    <div class="text">
        <!-- <h1>This page is under Development!!</h1> -->
    <h5>
        Welcome to my project built on Angular 17! As a passion project, my primary goal is to explore new concepts in an engaging and enjoyable manner.
    </h5>
    <br>
    <h5>
        In this endeavor, I've utilized a range of technologies to bring our vision to life:
    </h5>
    <ul>
        <li>Angular 17: Empowering our frontend development with its robust features.</li>
        <li>TypeScript: Ensuring type safety and enhanced developer experience.</li>
        <li>HTML & CSS: Crafting the user interface with the building blocks of the web. </li>
        <li>Java & Spring Boot: Powering our backend API with reliability and scalability.</li>

    </ul>
    <br>
    <h5>
        My frontend is meticulously crafted in Angular, while the backend thrives on the efficiency of Spring Boot. Notably, I've chosen not to integrate a database into this project. Instead, all data is hardcoded, optimizing simplicity and performance, given that my application primarily relies on "get" requests for data retrieval.
    </h5>
    <br>
    <h5>
        Initially, I experimented with hosting my Spring Boot API on render.com. However, due to latency concerns with free hosting, I transitioned to a solution leveraging GitHub for hosting separate JSON files. This decision significantly improved response times, ensuring a smoother experience for the users.
    </h5>
    <br>
    <h5>Feel free to explore our project further by accessing the JSON data hosted on GitHub through the following links:</h5>
    <a href="https://github.com/Ninad-arakh/zomato-json">Link to github Repository JSON response</a>
    <br>
    <a href="https://array-api.onrender.com/get/categories">Link to API at render.com </a>

    <br>
    <br>
    <h4>Thank you for joining us on this journey of learning and discovery!</h4>
    </div>

</div>